<div class="footer ">
    <div class="row ">
        <div class="col">
            <h6>Colaborer avec :</h6>
        </div>
        <div class="col"> 
            <h6>Contact :</h6>
            <a name="contact" class="ml contact">
                <div class="row">
                    <div class="col-4">
                        <i>gmail</i>
                        <i>phone</i>
                        <i>whatsapp</i>
                    </div>
                    <div class="col-4">
                        <i>instagram</i>
                        <i>facebook</i>
                    </div>

                </div>
                
                
                
            </a>
            
        </div>
    </div>

</div>