<% if(user === "secretaire"){ %>
    <h3 class="manage"  > Ajouter un formateur </h3>


    
    <form method="post" action="/addformateurs"  class="manageForm">
        <% if (message2) { %>
            <p><%= message2 %></p>
          <% } %>
        <table cellpadding="20" align="center">
            <tr>
                <td><label for="email">Email :</label></td>
                <td><input type="email" id="email" name="email" required class="logInp"></td>
            </tr>
            <tr>
                <td><label for="nom">Nom :</label></td>
                <td><input id="nom" type="text" name="nom" required class="logInp"></td>
            </tr>
            <tr>
                <td><label for="prenom">Prenom :</label></td>
                <td><input id="prenom" type="text" name="prenom" required class="logInp"></td>
            </tr>
            <tr>
                <td><label for="password">Password :</label></td>
                <td><input type="password" id="password" name="password" required class="logInp"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Ajouter" class="logBtn btn actionBtn"></td>
            </tr>
        </table>

    </form>

    <% }else{ %>  page not available<% } %>