<section class="loginPage">
  <form method="post" action="/login" class="loginForm">
    <h3>Se Connecter</h3>
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
    
    <table cellpadding="20">
        <tr>
            <td><label for="email">Email :</label></td>
            <td><input type="email" id="email" name="email" required class="logInp"></td>
        </tr>
        <tr>
            <td><label for="password">Password :</label></td>
            <td><input type="password" id="password" name="password" required class="logInp"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" class="logBtn"></td>
        </tr>
    </table>
    <p>Si vous n'avez pas de compte <a href="/signup">S'inscrire</a></p>

  </form>

  
</section>    
